.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    justify-content: space-between;
    
}
.card{
    width: 300px;
    margin-bottom: 2rem;
    overflow: hidden;
}
.card-title{
    font-weight: 600;
}
.card-text{
    font-style: italic;
}
.card img{
    transition: transform 0.25s;
    box-shadow: 0 2px 0 green;
    margin-bottom: 10px;
}
.card img:hover{
    transform: scale(1.1);
    box-shadow: 0 2px 0 black;
}
.discount{
    text-decoration: line-through;
}
.card a{
    background-color: green;
    border: green;
}
.card a:hover{
    background-color: darkgreen;
}
