.popup {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    
}
.popupwindow{
    display: flex;
}
#Button1{
    margin-bottom: 1rem;
}

