.popup {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0f1419;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    
    color: rgb(255, 255, 255);
}
#popupwindow{
    display: flex;
}
.popup h4{
    color: azure;
}
#accept-button{
    margin-bottom: 1rem;
    width: 105%;
    border-radius: 20px;
    height: 35%;
}
#refuse-button{
    margin-bottom: 1rem;
    width: 105%;
    height: 35%;
    border-radius: 20px;
}